
html, body{
    height: 100%;
}

/*.lilita-one-regular {*/
/*    font-family: "Lilita One", serif;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/


body{
    background-color: #ffffff;
    min-width: 320px;
    font-size: 14px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

img{
    max-width:100%;
    height: auto;
    text-align: center;
}

.row>* {
    padding-left: 0;
}

a{
    text-decoration: none;
    color: #373a3c;
}

@media (min-width: 992px) {
    .col-md-10 {
        width: 41.66666667%;
    }
}
@media (min-width: 992px) {
    .col-md-14 {
        width: 58.33333333%;
    }
}



 /*--------------------------header-----------------------*/

header{
    /*background-image: url("https://pzz.by/assets/img/nhd/header-bg2.gif");*/
    background-color: #fdfdfd;
    color: #373a3c;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

.logo{
    margin-right: 20px;
    font-size: 40px;

}

.white{
    color: #efefef;
}

.nav li a{
    color: #373a3c;
    text-decoration: none;
    gap: 10px
}

.nav{
    gap: 10px
}

.header{
    align-items: center;
}

.small{
    font-size: 16px;
}

.telnubmer a {
    color: #efefef;
    text-decoration: none;
    font-size: 40px;
}
.telnubmer{
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-cart{
    border: none;
    background: none;
    color: #efefef;
    padding-bottom: 10px;
}
/*--------------------------- filter ------------------------*/
.select-fltr{
    max-width: 220px;
}
.btn-outline-warning {
    --bs-btn-color: #fd7f21;
    --bs-btn-border-color: #fd7f21;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fd7f21;
    --bs-btn-hover-border-color: #fd7f21;
    --bs-btn-focus-shadow-rgb: 253, 127, 33;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #fd7f21;
    --bs-btn-active-border-color: #fd7f21;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fd7f21;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fd7f21;
    --bs-gradient: none;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-border-color);
    border-color: var(--bs-btn-hover-border-color);
}

.form-select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(253, 127, 33);
}

/*--------------------------- item ------------------------*/

.itemWrapper{
    border-radius: 20px;
    box-shadow: 0px 0px 27px -6px rgba(34, 60, 80, 0.12);
    max-width: 280px;
}

.item_img{
    max-width: 230px;
}

.item_title, .item_price{
    font-weight: bold;
    font-size: 18px;
}

.gray{
    color: #717176;
    font-size: 12px;
}

.btn-gray{
    background-color: #f0f1f6;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
}
.btn-orange{
    background-color: #fd7f21;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
}

.btn-gray50{
    background-color: #f0f1f6;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 14px;
}

.btn-gray:hover, .btn-gray:focus {
    color: #23527c;
}


/*--------------------------- offcanvas ------------------------*/

.offcanvas{
    background-color: #f7f7f7;
}
.product-in-cart{
    background-color: #ffffff;
    font-size: 12px;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 27px -6px rgba(34, 60, 80, 0.12);
}
.product-in-cart__img{
    max-width: 100px;
}
.product-in-cart__details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.details-name, .details-price{
    font-size: 14px;
    font-weight: bold;
}

/*--------------------------- pagination ------------------------*/
.pagination {
    --bs-pagination-hover-color: #fd7f21;

    --bs-pagination-focus-color: #fd7f21;

    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(253, 127, 33);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #fd7f21;
    --bs-pagination-active-border-color: #fd7f21;
    --bs-pagination-color: #373a3c;

}

.page-link:focus {
    -webkit-box-shadow: 0px 0px 6px 3px rgba(253, 127, 33, 0.09);
    -moz-box-shadow: 0px 0px 6px 3px rgba(253, 127, 33, 0.09);
    box-shadow: 0px 0px 6px 3px rgba(253, 127, 33, 0.09);
}

/*--------------------------- VIEW PRODUCT ------------------------*/
.additives{
    display: flex;
    flex-wrap: wrap;
}
.add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: solid #f9f9f9;
    border-radius: 10px;
}
.add_content{
    justify-content: space-between;
}

.profil-pic{
    max-width: 300px;
}
.load_pic{
    max-width: 270px;
}

/*----------------ORDER -----------------*/

.form-order {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #f3f3f3;
    line-height: 44px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .05);
    border-radius: 20px;
    padding: 0 20px;
}

.form-order:focus {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
    border-color: #efefef;
}
.form-order:active {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
    border-color: #efefef;
}
.form-order:focus-visible {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
    border-color: #efefef;
}

.form-order-select{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #f3f3f3;
    line-height: 44px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .05);
    border-radius: 20px;
    padding: 10px 20px;
}